.top {
    position: relative;
    background-color: rgb(225, 255, 143);
    min-height: 800px;
    overflow: hidden;

    &__block {
        max-width: 892px;
    }

    &__header {
        padding-top: 45px;
        color: $Black;
        max-width: 768px;
    }
    &__description {
        color: $Black;
        max-width: 720px;
        padding-top: 24px;
    }

    &__button {
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        margin-top: 48px;

        color: $White;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
    }

    &__starsUp {
        padding-left: 63px;
        padding-top: 69px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 36px;
        max-width: 129px;
    }

    &__starsDown {
        padding-top: 98px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 28px;
        float: right;
    }

    &__starU {
        padding-top: 25px;
    }

    &__starD {
        padding-top: 30px;
    }

    &__background {
        position: absolute;
        top: -333px;
        right: -488px;
    }
    &__mobile{
        display: none;
    }

}

.about {
    position: relative;
    background: rgb(32, 32, 39);
    min-height: 1470px;
    overflow: hidden;

    &__heading {
        color: $White;
        padding-top: 94px;
    }
    &__headingMobile {
        display: none;
    }

    &__description {
        color: $White;
        padding-top: 24px;
    }
    &__bigStar {
        position: absolute;
        top: 142px;
        right: -103px;
    }
    &__starsBlock {
        position: absolute;
        padding-left: 25px;
        top: 770px;
        display: grid;
        grid-template-columns: auto auto;
        max-width: 129px;
    }
    &__starD {
        padding-top: 41px;
    }
    &__board {
        min-height: 1056px;
        max-width: 1200px;
        margin-top: 72px;
        display: grid;
        grid-template-columns: 378px 378px 378px;
        gap: 0px 32px;
        margin-bottom: 144px;
    }
    &__block {
        z-index: 1;
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        width: 378px;
        height: 473px;
        transition: all .5s;
        text-decoration: none;

        &:hover {
            scale: 1.07;
        }
    }

    &__img {
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__numberGame {
        padding-left: 32px;
        margin-top: 32px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        width: 108px;
        height: 36px;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        color: $Black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cardName {
        max-width: 314px;
        padding-left: 32px;
        padding-top: 16px;
        padding-bottom: 36px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        color: $Black;
    }
    &__gameDescription {
        display: none;
    }
    &__button {
        display: none;
    }
}
.blockBig {
    height: 551px;
    margin-top: -8px;
}
.blockMedium {
    height: 512px;
}
.MarginMin {
    margin-top: 32px;
}

.footer {
    background: rgb(189, 237, 53);
    

    &__header {
        color: $Black;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }
}