@media (max-width: 426px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .top {
        min-height: 700px;

        &__starsUp {
            padding-left: 21px;
            padding-top: 21px;
        }
        &__block {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__header {
            max-width: 314px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
        }
        &__starsUp {
            transform: scale(0.614);
        }
        &__starsDown {
            transform: scale(0.47);
            position: absolute;
            right: 8px;
            top: 457px;
        }

        &__mobile {
            display: block;
            position: absolute;
            top: -87px;
            right: -87px;
        }

        &__background {
            display: none;
        }
    }

    .about {
        

        &__starsBlock {
            display: none;
        }

        &__heading {
            display: none;
        }
        &__headingMobile {
            display: block;
            color: $White;
            padding-top: 48px;
        }
        &__description {
            display: none;
        }
        &__bigStar {
            display: none;
        }
        &__board {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            margin-bottom: 54px;
        }
        &__block {
            width: 343px;
            height: auto;
        }
        &__img {
            width: 343px;
        }
        &__numberGame {
            display: none;
        }
        &__cardName {
            padding-top: 29px;
            padding-bottom: 16px;
        }
        &__gameDescription {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $Black;
            padding-left: 32px;
            width: 285px;
        }
        &__button {
            display: block;
            margin-top: 32px;
            margin-left: 29px;
            width: 285px;
            height: 55px;
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);

            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            color: $White;
            margin-bottom: 32px;
        }
    }
    .blockMedium {
        height: auto;
    }
    .mobileHeight {
        height: auto;
    }
    .blockBig {
        height: auto;
        margin-top: 0px;
    }
    .MarginMin {
        margin-top: 0px;
    }

    .footer {
        
        
        &__header {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            padding-top: 41px;
            padding-bottom: 41px;
        }
    }



}