@media (max-width: 426px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .top {
        min-height: 700px;

        &__starsUp {
            padding-left: 21px;
            padding-top: 21px;
        }
        &__block {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__header {
            max-width: 314px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
        }
        &__starsUp {
            transform: scale(0.614);
        }
        &__starsDown {
            transform: scale(0.47);
            position: absolute;
            right: 8px;
            top: 457px;
        }

        &__mobile {
            display: block;
            position: absolute;
            top: -87px;
            right: -87px;
        }

        &__background {
            display: none;
        }
    }

    .about {
        

        &__starsBlock {
            display: none;
        }

        &__heading {
            display: none;
        }
        &__headingMobile {
            display: block;
            color: $White;
            padding-top: 48px;
        }
        &__description {
            display: none;
        }
        &__bigStar {
            display: none;
        }
        &__board {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &__block {
            width: 343px;
        }
    }



}